table , td {
    border: 1px solid black;

}

table {
    color: white;
    width: 100%;
    margin: 5px;
    
}

table , td , tr{
    border-collapse: collapse;
    border-spacing: 0;
}

tr{
    height: 35px;

}

