table , td {
    border: 1px solid black;

}

table {
    color: white;
    width: 95%;
    margin: 5px;
    border-radius: 12px;
    box-shadow: 0 4px 15px ;
    
}

thead{
    background: #2563eb;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #646201;

}
tbody tr:hover {
        background-color: #012944;
        transition: 0.2s;
}
tr{
    height: 35px;

}

td, th {
    padding: 8px 8px;
}

.gotothere{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;

    height: 100px;
    background-color: #ff0000;
    border: 5px solid yellow;
    border-radius: 20px;
}

#LC ,#CF , #CC {
    overflow-x: auto;

}

