#optionName{
    border: 2px solid black;
    height: 100px;
    width: 300px;
    border: 8px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all 0.0s linear 0s;
}

#optionName:hover{
        background-color: blue;
        transform: scale(1.03);
        cursor: pointer;
}


