
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#header{
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
    /* overflow-x: auto; */
}

#innerheader{
    margin-top: 5px;
            /* border: 7px solid rgb(23, 1, 120); */
            background-color: black;
            border: 2px solid white;

            width: 80%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.7rem;
            border-radius: 10px;
            gap: 250px;
            overflow-x: auto;
}
#logodiv{
    margin-left: 10px;
    display: flex;
    align-items: center;
    /* border: 2px solid white; */
    /* border-radius: 5; */
}
#logoimg{
    height: 100%;
    border-radius: 30%;
    width: 70px;
}
#headingmain{
    font-weight: 700;
    font-size: 5rem;
    color: white;
}
@media (max-width:1000px){
        #innerheader {
            gap: 10%;
        }
}