*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
   background-color: rgb(87, 87, 255);
}
#Poptions {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 70px;
    

}
#line{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 150px;
    font-size: 4rem;
}


#cardarea{
            height: auto;
            width: auto;
            padding-top: 30px;
            padding-bottom: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            border: 1px solid black;
            margin-left: 15%;
            margin-right: 15%;
            margin-top: 50px;
            border-radius: 10px;
            background-color: green;
            border-color: azure;
            overflow-x: hidden;
}